
.am-thumbnail-wrapper {
    min-height: 350px;
    padding: 1rem;
  
    .am-thumbnail {
      position: relative;
      height: 350px;
      width: 100%;
      font-family: $font-family-primary;
      color: white;
      text-align: center;
  
      .am-thumbnail-img {
        width: 100%;
        height: 100%;
  
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
      }
  
      .am-thumbnail-title {
        position: absolute;
        top: 0;
        opacity: 0;
        visibility: hidden;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .3s;
        background: rgba(0, 0, 0, 0.6);
        cursor: pointer;
  
        .name{
          font-size: 1.7rem;
          font-weight: bold;
        }

        .info{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 1.1rem;
        }
      }
  
      &:hover{
          .am-thumbnail-title{
              opacity: 1;
              visibility: visible;
          }
      }
    }
  }
  