@import '../../../../styles/sass/lib/variables';


.am-section {
  margin-bottom: 0;

  .login {
    min-height: 100vh;

    .login-wrapper {
      color: white;
      padding: 2rem;
      position: relative;
      min-height: 100vh;
      background-color: $color-primary;
      display: flex;
      justify-content: center;
      align-items: center;

      .login-box {
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
          font-family: $font-family-secondary;
          font-size: 2rem;
          text-align: center;
        }
      }
      .form-control{
        background-color: $color-secondary;
        color: black;
      }
    }
  }
}
